*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus {
    outline: none;
    border: none;
}
input{
    padding-left: 16px;
    border: none;
    width: 360px;
}
select{
    padding-left: 16px;
    border: 1px solid #D6DADE;
    width: 558px;
    height: 56px;  
    margin-bottom: 32px;
}
.form__social input[type="text"]{
    width: 558px;
    height: 56px; 
    border: 1px solid #D6DADE;
    margin-bottom: 32px;
}