.button {
  width: 100%;
  max-width: 1110px;
  margin: 15% auto;
  text-align: center;
}
.button__main {
  width: 557px;
  height: 48px;
  flex-shrink: 0;
  background-color: #E5266E;
  color: white;
  border: none;
}
.button__main:hover {
  cursor: pointer;
  background-color: white;
  color: #E5266E;
  border: #E5266E 1px solid;
}

.modal {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 754px;
  height: 1248px;
  border-radius: 12px;
  margin: 130px auto;
  background-color: #FFF;
}
.modal__title h2 {
  margin-left: 98px;
  padding-top: 53px;
  color: #0C1014;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px;
}
.modal__form {
  margin-top: 35px;
}

.form {
  margin-left: 98px;
  margin-right: 98px;
}
.form__firstPath {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 26px;
}
.form__info {
  display: flex;
  flex-direction: column;
}
.form__info-input {
  border: 1px solid #D6DADE;
  width: 362px;
  height: 56px;
  margin-bottom: 32px;
}
.form__error {
  margin: 7px auto auto 16px;
  color: red;
}
.form__social-input input[type=text] {
  border: 1px solid #D6DADE;
  margin-bottom: 32px;
  width: 558px;
  height: 56px;
}
.form__img input {
  border-radius: 163.333px;
  width: 163.333px;
  height: 163.333px;
}
.form__img {
  position: relative;
}
.form__img-input::before {
  content: "";
  position: absolute;
  top: 23%;
  left: 35%;
  width: 30px;
  height: 30px;
  background-image: url(../img/Vector.svg);
  background-size: cover;
}
.form__img-input {
  position: relative;
  background-image: url(../img/backgroundPhoto.svg);
  background-size: cover;
  border-radius: 163.333px;
  width: 163.333px;
  height: 163.333px;
  border: none;
}
.form__img-close::before {
  content: "";
  position: absolute;
  top: 3%;
  right: 8%;
  width: 36px;
  height: 36px;
  background-image: url(../img/close.svg);
  background-size: cover;
  cursor: pointer;
}
.form__img-input input[type=file] {
  opacity: 0;
}
.form__img-castomBtn {
  position: absolute;
  top: 50%;
  right: 22%;
  color: #FFF;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: underline;
  cursor: pointer;
}
.form__select {
  border: 1px solid #D6DADE;
  width: 558px;
  height: 56px;
  margin-bottom: 32px;
}
.form__button-yes {
  margin-bottom: 15px;
  margin-top: 18px;
}
.form__button-no {
  text-align: center;
}

.button-no {
  color: #0848C0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#vk {
  background: url(../img/vk\ 1.svg) no-repeat 98%;
  background-size: 20px;
}

#ru {
  background: url(../img/global\ 1.svg) no-repeat 98%;
}

#ok {
  background: url(../img/odnoklassniki\ 3.svg) no-repeat 98%;
}

#facebook {
  background: url(../img/facebook.svg) no-repeat 98%;
}

#youtube {
  background: url(../img/youtube\ 2.svg) no-repeat 98%;
}

#instagram {
  background: url(../img/Instagram.svg) no-repeat 98%;
}/*# sourceMappingURL=style.css.map */