table{
    width: 100%;
    max-width: 1110px;
    margin: 50px auto;
}
td, th {
    border:  lightblue 2px solid;
    background-color: rgba(255, 255, 255, 0.9);
}
th{
    background-color: lightcyan;
}
.search{
    width: 100%;
    max-width: 1110px;
    margin: 30px auto;
}
.form-search{
    display: flex;
    justify-content: end;
    margin-right: 60px;
}
.form-search input[type='search']{
    width: 300px;
    height: 30px;
    border: 2px lightblue solid;
    border-radius: 25px 0 0 25px;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    -ms-border-radius: 25px 0 0 25px;
    -o-border-radius: 25px 0 0 25px;
}
.search-btn{
    border: 2px lightblue solid;
    width: 50px;
    border-radius: 0 25px 25px 0;
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    -ms-border-radius: 0 25px 25px 0;
    -o-border-radius: 0 25px 25px 0;
}